@import './../../../scssUtilities/index.module.scss';

.background {
  background-color: $green-main-lightest;
}

.wrapperAdditional {
  @include tabletHorizontal {
    padding-bottom: 10em !important;
  }
}

.infoCardWrapper {
  max-width: 450px;
  margin: 0 auto;

  @include mobileHorizontal {
    max-width: 700px;
  }
}
