@import './../../../scssUtilities/index.module.scss';

.header {
  @include custom(500px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5em 0 2em;

    @include tabletHorizontal {
      margin: 0.5em 0 3em;
    }
  }
}

.pickerAdditional {
  margin: 2em 0;

  @include custom(500px) {
    margin: 0;
  }
}

.headerInfo {
  color: $font-main;
  font-size: 14px;

  @include custom(500px) {
    font-size: 16px;
  }
}
