@import './../../../../../scssUtilities/index.module.scss';

.range {
  padding: 0.75em 1em;
  font-size: 18px;
  color: $font-main;
  cursor: pointer;
  border-radius: 8px;
}

.range:hover {
  background-color: $green-main-lightest;
  color: $green-main;
}

.rangeActive {
  color: $green-main;
}
