@import './../../../../scssUtilities/index.module.scss';

.sectionWrapper {
  padding: 1.5em 1em;
  max-width: 1000px;
  margin: 0 auto;

  @include mobileHorizontal {
    padding: 1.5em;
  }

  @include tabletHorizontal {
    padding: 2em 3em;
  }

  @include laptopSm {
    padding: 3em 0 3em;
  }
}
