@import './../../../scssUtilities/index.module.scss';

.background {
  background-color: $green-main-lightest;
}

.featuresContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tabletHorizontal {
    padding: 4em 0;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
  }
}
